@{
    ViewBag.Title = "Quick Sign Up";
}
<h2>QuickSignUp</h2>
@using (Html.BeginForm("RecordQSU", "home", FormMethod.Post))
{
    <table>
        <tr>
            <td align="left">First name:</td>
            <td align="left">
                @Html.TextBox("Name")
            </td>
        </tr>
        <tr>
            <td align="left">Last name</td>
            <td align="left">@Html.TextBox("lastname") </td>
        </tr>
        <tr>
            <td align="left">Email</td>
            <td align="left">@Html.TextBox("email") </td>
        </tr>
        <tr><td><input type="submit" value="Sign Up"></td></tr>
    </table>
}