@{
    ViewBag.Title = "Unsubscribe_View";
}

<h2>Unsubscribe</h2>
@using (Html.BeginForm("Unsubscribed_View", "home", FormMethod.Post))
{
    <table>
        <tr>
            <td align="left">First name:</td>
            <td align="right">
                @Html.TextBox("Name")
            </td>
        </tr>
        <tr>
            <td align="left">Last name</td>
            <td align="right">@Html.TextBox("lastname") </td>
        </tr>
        <tr>
            <td align="left">Email</td>
            <td align="right">@Html.TextBox("email") </td>
        </tr>
        <tr><td><input type="submit" value="Unsubscribe"></td></tr>
    </table>
}